body{background-color: rgb(35,35,35);font-family: arial;color: white}
h1{color: rgb(128,127,255);font-family: verdana}
.maindiv{
    background-color: rgb(78,72,79);
    color: rgb(214,210,215);
    margin: auto;
    width: 100%;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
}

.seconddiv{
    background-color: white;
    color: black;
    width: 100%;
    padding: 5px;
    border-radius: 25px;
    text-align: center;
}